* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(214, 221, 225);
  position: relative;
  padding-bottom: 4rem;
  height: 100vh;
}

img {
  max-width: 100%;
}

.header {
  background-color: rgb(241, 136, 67);
  position: sticky;
  top: 0;
  border-bottom: 5px solid rgb(28, 26, 55);
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__items {
  margin: 4rem 0 0 1rem;
  padding-right: 3rem;
}

.nav__link {
  color: rgb(28, 26, 55);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav__link:hover {
  opacity: 0.5;
}

.containerPrincipal {
  text-align: center;
}

.principal {
  padding: 4rem;
}

.tituloPrincipal {
  font-size: 3.5rem;
  color: rgb(28, 26, 55);
}

.parrafoPrincipal {
  font-size: 2.5rem;
  color: rgb(28, 26, 55);
}

.titulo {
  color: rgb(28, 26, 55);
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
}

.parrafoTitulo {
  color: rgb(28, 26, 55);
  font-size: 1.5rem;
  padding: 1rem;
}

.fotoSecundarias {
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgb(0, 0, 0, 0, 45);
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.col {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

/*FOOTER*/

.footer {
  background-color: rgb(232, 69, 37);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(214, 221, 225);
  bottom: 0;
}

/* PROYECTOS */

.proyectoContainer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.cardProyectos {
  border: 2px solid rgb(232, 69, 37);
  padding: 1rem;
  box-shadow: 0px 10px 30px -10px, rgb(0, 0, 0 0, 45);
}

.proyecto__titulos {
  text-align: center;
  font-size: 2rem;
  color: rgb(232, 69, 37);
  padding: 3rem;
}

.proyeto__titulos2 {
  text-align: right;
  color: rgb(232, 69, 37);
  font-size: 2rem;
  font-style: italic;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.info__proyectos {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  list-style: none;
  text-align: right;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem 0;
}

.info__proyectosLista {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1rem;
}

.proyecto__parrafos {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  padding: 1.5rem;
  color: rgb(28, 26, 55);
  line-height: 1.8;
  max-width: 1000px;
}

.botonProyecto {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  color: rgb(232, 69, 37);
  text-decoration: none;
  text-align: right;
}

/* SERVICIOS */

.cardServicios {
  margin: 8rem;
  padding: 1rem;
  box-shadow: 0px 10px 30px -10px, rgb(0, 0, 0 0, 0.45);
  text-align: center;
  max-width: 80%;
}

.serUno {
  background-color: rgb(241, 136, 67);
  text-align: center;
}

.serDos {
  background-color: rgb(232, 69, 37);
  color: white;
}

.servicio__titulo {
  font-size: 2.5rem;
}

.servicio__parrafo {
  padding: 1rem;

  font-style: italic;
  font-size: 2rem;
}

.secundario {
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
}

.lista__uno {
  font-size: 2rem;
  font-style: italic;
  list-style: outside;
  text-align: left;
  padding-left: 7rem;
}

/*NOSOTROS*/

.containerNosotros {
  display: flex;
  flex-wrap: rap;
  justify-content: center;
  background-color: rgb(28, 26, 55);
  color: rgb(241, 136, 67);
}

.SecNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colNosotros {
  width: 100%;
}

.tituloNosotros {
  font-family: "montserrat", sans-serif;
  padding: 5rem;
  font-size: 5rem;
}

.nosotrosOficinas {
  padding: 5rem;
}

.parrafoNosotros {
  font-size: 2rem;
  padding: 5rem;
}

.Ndos {
  font-size: 3rem;
}

.listaNostros {
  font-size: 2rem;
  padding: 3rem;
  line-height: 1.8;
}

/*CONTACTANOS*/

.containerContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20rem 0 0 0;
  padding: 2rem 1rem 1rem 1rem;
  height: 100vh;
}

.contColum {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contTitulo {
  font-size: 3rem;
  padding: 10rem 0 11.5rem 0;
  color: rgb(28, 26, 55);
}

.contTitulo2 {
  font-size: 2rem;
  padding: 2rem 0 3rem 0;
  max-width: 50rem;
}

.contFormulario {
  font-size: 2rem;
}

.conFormato {
  padding: 1rem 0 0 0;
}

.contBoton {
  background-color: rgb(232, 69, 37);
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.texA {
  background: none;
  border: solid 0.3rem rgb(232, 69, 37);
  padding-bottom: 1rem;
}

/*TRANSICION*/

.contBoton:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/*ANIMACION*/

.animate__backInDown {
  animation-duration: 1s;
}

.animate__zoomInDown {
  animation-duration: 2s;
}

.animate__lightSpeedInLeft {
  animation-duration: 1.5s;
}

.animate__lightSpeedInRight {
  animation-duration: 1.5s;
}

.animate__tada {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.Menu {
  height: 100vh;
}

/*MEDIA QUERIES RESPONSIVE*/

/*NAV*/

@media (max-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: column;
  }

  /*CONTACTOS*/

  .mediaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .containerContacto {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  /*PAGINA PRINCIPAL*/

  .Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20rem 0 20rem 0;
  }
}
