@import "globals";
@import "navbar";
@import "variables";

.body {
  background-color: $color-4;
  position: relative;
  padding-bottom: 4rem;
  height: 100vh;
}

.header {
  background-color: $color-1;
  position: sticky;
  top: 0;
  border-bottom: 5px $color-3;
}

.containerPrincipal {
  text-align: center;
}

.principal {
  padding: 4rem;
}

.tituloPrincipal {
  font-size: 3.5rem;
  color: $color-3;
}

.parrafoPrincipal {
  font-size: 2.5rem;
  color: $color-3;
}

.titulo {
  color: $color-3;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
}

.parrafoTitulo {
  color: $color-3;
  font-size: 1.5rem;
  padding: 1rem;
}

.fotoSecundarias {
  margin: 2rem;
  padding: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.col {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.footer {
  background-color: $color-1;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: $color-3;
}

.proyectoContainer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.cardProyectos {
  border: 2px solid $color-1;
  padding: 1rem;
}

.proyecto__titulos {
  text-align: center;
  font-size: 2rem;
  color: $color-1;
  padding: 3rem;
}

.proyeto__titulos2 {
  text-align: right;
  color: $color-2;
  font-size: 2rem;
  font-style: italic;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.info__proyectos {
  font-family: "nunito", sans-serif;
  font-weight: 700;
  list-style: none;
  text-align: right;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem 0;
}

.info__proyectosLista {
  font-family: "nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 1rem;
}

.proyecto__parrafos {
  font-family: "nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  padding: 1.5rem;
  color: $color-3;
  line-height: 1.8;
  max-width: 1000px;
}

.botonProyecto {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-size: 700;
  padding: 1rem;
  color: $color-2;
  text-decoration: none;
  text-align: right;
}

.cardServicios {
  margin: 8rem;
  padding: 1rem;
  text-align: center;
  max-width: 80%;
}

.serUno,
.serDos {
  background-color: $color-2;
  text-align: center;
  padding: 3rem 1rem 3rem 1rem;
}

.servicio__titulo {
  font-size: 2.5rem;
}

.servicio__parrafo {
  padding: 1rem;
  font-style: italic;
  font-size: 2rem;
}

.secundario {
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
}

.lista__uno {
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: none;
  text-align: left;
  padding-left: 7rem;
}

.containerNosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-3;
  color: $color-2;
}

.SecNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colNosotros {
  width: 100%;
}

.tituloNosotros {
  padding: 5rem;
  font-size: 3.5rem;
}

.nosotrosOficinaas {
  padding: 5rem;
}

.parrafoNosotros {
  font-size: 2rem;
  padding: 5rem;
}

.Ndos {
  font-size: 3rem;
}

.listaNostros {
  font-size: 2rem;
  padding: 3rem;
  line-height: 1.8rem;
}

.containerContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20rem 0 0 0;
  padding: 2rem 1rem 1rem 1rem;
  height: 100vh;
}

.contColum {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contTitulo {
  font-size: 3rem;
  padding: 10rem 0rem 11.5rem 0;
  color: $color-1;
}

.contTitulo2 {
  font-size: 2rem;
  padding: 2rem 0 3rem 0;
  max-width: 50rem;
}

.form {
  background: rgba(241, 136, 67, 0.2);
  font-family: "Montserrat", sans-serif;
  text-align: left;

  .form__input {
    width: 95%;
    height: 2rem;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    border-bottom: 0.2rem solid $color-1;
    outline: none;

    font-size: 1rem;
    font-style: italic;

    .form__label {
      font-size: 1.5rem;
    }
  }
}

.contTitulo {
  text-align: center;
}

.contTitulo2 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Monteserrat", sans-serif;
}

.form__text {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  padding-top: 1rem;
}

.mark {
  font-size: 1.5rem;

  .opt {
    font-style: italic;
  }
}

.contBoton {
  background-color: $color-2;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
  border: none;

  &:hover {
    opacity: 0.5;
    transition: 0.4s;
  }
}

.texA {
  background: none;
  border: solid 0.2rem $color-2;
  padding-bottom: 1rem;
}

.animate__backInDown {
  animation-duration: 1s;
}

.animate__zoomInDown {
  animation-duration: 2s;
}

.animate__lightSpeedInRight {
  animation-duration: 1.5s;
}

.animate__lightSpeedInLeft {
  animation-duration: 1.5s;
}

.animate__tada {
  animation-duration: 2s;
  animation-play-state: 2s;
  animation-iteration-count: infinite;
}

.menu {
  height: 100vh;
}

@media (max-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .mediaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .containerContacto {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .LogoContac {
    margin-top: 30rem;
  }

  .Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20rem 0 20rem 0;
  }

  .proyeto__titulos2 {
    font-size: 1.4rem;
  }

  .info__proyectosLista {
    font-size: 1.2rem;
  }

  .proyecto__parrafos {
    font-size: 1rem;
  }

  .botonProyecto {
    font-size: 1.5rem;
  }

  .tituloNosotros,
  .tituloNosotros {
    font-size: 1.4rem;
  }

  .parrafoNosotros,
  .listaNostros {
    font-size: 1rem;
  }

  .servicio__titulo,
  .secundario {
    font-size: 1.4rem;
  }

  .servicio__parrafo,
  .lista__uno {
    font-size: 1.2rem;
  }

  .cardServicios {
    max-width: 100%;
  }
}
