* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(214, 221, 225);
}

header {
  background-color: rgb(241, 136, 67);
  position: sticky;
  top: 0;
  border-bottom: 5px solid rgb(28, 26, 55);
}

.nav__list {
  list-style: none;
  display: flex;

  .nav__items {
    margin: 4rem 0 0 1rem;
    padding-right: 3rem;

    .nav__link {
      color: rgb(28, 26, 55);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
